.news-wrap {
  display: grid;
  grid-template-columns: 700px 330px;
  grid-column-gap: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.news {
  display: grid;
  grid-template-columns: repeat(auto-fit, 700px);
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;

  a {
    padding: 10px;
    width: 140px;
    height: 50px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background-color: #35A22C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;

    &:hover {
      background-color: #3abd30;
    }
  }
}

.description {
  padding: 15px 15px 30px;
  border: 1px solid #e6e6e6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  h2 {
    font-weight: 300;
  }

  p {
    margin-bottom: 20px;
    color: #6e6e6e;
  }
}

.news-filter {
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  padding: 25px;
  
  h2 {
    cursor: pointer;
    
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 20px;

    span {
      padding-left: 10px;
      font-size: 16px;

      &:hover {
        text-decoration: underline;
      }
    }

    &:last-child {
      margin-bottom: 0;
      font-size: 12px;
      border: none;
      color: #6e6e6e;
      cursor: auto;
      padding-bottom: 0;


      &:hover {
        text-decoration: underline;
      }

      a {
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
        color: #6e6e6e;
      }
    }
    

  }

  span {

    &:hover {
      text-decoration: none;
    }
  }
}

.search {
  margin-bottom: 20px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  padding: 20px 31px 20px 20px;

  h2 {
    font-weight: 300;
  }

  input {
    font-family: 'Hind', 'Arial', sans-serif;
    font-size: 16px;
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    height: 40px;
    background-color: #f6f6f6;
    padding-left: 10px;
    padding-right: -10px;
    position: relative;
  }
}

.search-fixed {
  width: 330px;
  position: fixed;
  top: 30px;
}
