.container {
  max-width: 1140px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  margin: 0;
  font-family: 'Hind', 'Arial', sans-serif;
  h1 {
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    margin-bottom: 10px;
  }

  h2 {
    margin: 10px 0;
  }
}