@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xyevzg');
  src:  url('../fonts/icomoon.eot?xyevzg#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?xyevzg') format('truetype'),
  url('../fonts/icomoon.woff?xyevzg') format('woff'),
  url('../fonts/icomoon.svg?xyevzg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\f030";
  @extend %icon-style;
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-paint-brush:before {
  content: "\f1fc";
  @extend %icon-style;
}
.icon-ils:before {
  content: "\f20b";
  @extend %icon-style;
}
.icon-shekel:before {
  content: "\f20b";
  @extend %icon-style;
}
.icon-sheqel:before {
  content: "\f20b";
  @extend %icon-style;
}
.icon-lock:before {
  content: "\f023";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-code:before {
  content: "\f121";
}
.icon-info:before {
  content: "\f129";
}
.icon-shield:before {
  content: "\f132";
}
.icon-dollar:before {
  content: "\f155";
}
.icon-usd:before {
  content: "\f155";
}
.icon-file-pdf-o:before {
  content: "\f1c1";
}
.icon-volume-control-phone:before {
  content: "\f2a0";
}
.icon-envelope-open:before {
  content: "\f2b6";
}
.icon-location:before {
  content: "\e947";
}
.icon-times-circle:before {
  content: "\f057";
}

%icon-style {
  font-size: 48px;
  color: #239123;
}